<a href="https://colab.research.google.com/github/GOLISHYAMP/ANN_End_to_End_Project/blob/main/ANN_end_to_end_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/chrun_banking.csv')

In [78]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

##RowNumber	CustomerId	Surname
# These columns are unwanted columns, lets remove them

In [79]:
data = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [80]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [81]:
X = data.drop(['Exited'], axis = 1)
y = data['Exited']

# Ok lets try to convert the categorical values to integer

In [82]:
X['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [83]:
X['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

# Ok we can go with the label encoding with Gender
# One hot encoding with Geography

In [84]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
LE = LabelEncoder()
X['Gender'] = LE.fit_transform(X['Gender'])
OHE = OneHotEncoder(drop='first')
ct = ColumnTransformer([
    ('OneHotEncoder', OHE, ['Geography'])
], remainder='passthrough')

In [85]:
X = ct.fit_transform(X)

In [86]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
scaled_data = sc.fit_transform(X)

In [87]:
scaled_data[:5, :]

array([[-0.57873591, -0.57380915, -0.32622142, -1.09598752,  0.29351742,
        -1.04175968, -1.22584767, -0.91158349,  0.64609167,  0.97024255,
         0.02188649],
       [-0.57873591,  1.74273971, -0.44003595, -1.09598752,  0.19816383,
        -1.38753759,  0.11735002, -0.91158349, -1.54776799,  0.97024255,
         0.21653375],
       [-0.57873591, -0.57380915, -1.53679418, -1.09598752,  0.29351742,
         1.03290776,  1.33305335,  2.52705662,  0.64609167, -1.03067011,
         0.2406869 ],
       [-0.57873591, -0.57380915,  0.50152063, -1.09598752,  0.00745665,
        -1.38753759, -1.22584767,  0.80773656, -1.54776799, -1.03067011,
        -0.10891792],
       [-0.57873591,  1.74273971,  2.06388377, -1.09598752,  0.38887101,
        -1.04175968,  0.7857279 , -0.91158349,  0.64609167,  0.97024255,
        -0.36527578]])

# Lets save the transformers

In [88]:
import pickle

In [89]:
with open('LabelEncoder.pkl', 'wb') as f:
  pickle.dump(LE, f)
  f.close()
with open('ColumnTransformer.pkl', 'wb') as f:
  pickle.dump(ct, f)
  f.close()
with open('StandardScaler.pkl', 'wb') as f:
  pickle.dump(sc, f)
  f.close()

In [91]:
with open('LabelEncoder.pkl', 'rb') as f:
  my_LE = pickle.load(f)
  f.close()
with open('ColumnTransformer.pkl', 'rb') as f:
  my_CT = pickle.load(f)
  f.close()
with open('StandardScaler.pkl', 'rb') as f:
  my_SC = pickle.load(f)
  f.close()

# Splitting the Train and test data

In [92]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 31)

In [93]:
X_train[:5, :]

array([[1.0000000e+00, 0.0000000e+00, 6.2400000e+02, 0.0000000e+00,
        4.5000000e+01, 5.0000000e+00, 1.5185533e+05, 1.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 6.8794150e+04],
       [0.0000000e+00, 0.0000000e+00, 7.1800000e+02, 1.0000000e+00,
        3.7000000e+01, 8.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 1.4281000e+02],
       [1.0000000e+00, 0.0000000e+00, 5.0100000e+02, 1.0000000e+00,
        2.7000000e+01, 4.0000000e+00, 9.5331830e+04, 2.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 1.3210476e+05],
       [0.0000000e+00, 0.0000000e+00, 7.1100000e+02, 0.0000000e+00,
        3.5000000e+01, 8.0000000e+00, 0.0000000e+00, 1.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 6.7508010e+04],
       [0.0000000e+00, 0.0000000e+00, 6.5200000e+02, 1.0000000e+00,
        3.6000000e+01, 1.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 1.5131498e+05]])

In [94]:
y_train

7024    0
2498    0
4029    0
6800    0
1183    0
       ..
5372    0
28      0
826     0
3735    0
4818    0
Name: Exited, Length: 8000, dtype: int64